<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue Tutorial - Directive(Events): V-On</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://app.laravel/css/custom.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

	<div class="container" id="main">
		<br />
		<h1>
			<a :href="url">Directive(Events): V-On</a>
		</h1>
		<br />
		<div class="row">
			<div class="card m-1" style="width: 18rem;">
				<h1>
					<span class="m-3">{{number01}}</span>
				</h1>
				<div class="card-body">
					<h5 class="card-title">Increament/Decrease (v-on)</h5>
					<p class="card-text">Click below button to increment using 'v-on:' directives.</p>
					<a class="btn btn-primary" v-on:click="increaseFont01">Increment</a>
					<a class="btn btn-primary" v-on:click="decreaseFont01">Decrement</a>
				</div>
			</div>
			<div class="card m-1" style="width: 18rem;">
				<h1>
					<span class="m-3">{{number02}}</span>
				</h1>
				<div class="card-body">
					<h5 class="card-title">Decrement (@)</h5>
					<p class="card-text">Click below button to decrement using '@' which is a shorthand of 'v-on:' directives.</p>
					<a class="btn btn-primary" @click="increaseFont02">Increment</a>
					<a class="btn btn-primary" @click="decreaseFont02">Decrement</a>
				</div>
			</div>

		</div>
	</div>


	<!-- <script src="http://app.laravel/js/custom.js"></script> -->
	<script>
		let vm = new Vue({

			el : '#main',
			data : {
				url: "www.google,com",
				number01 : 5,
				number02 : 5				
			},
			
			methods:{
				
				increaseFont01(){
					this.number01++;
				},
				
				decreaseFont01(){
					this.number01--;
				},
				
				increaseFont02(){
					this.number02++;
				},
				
				decreaseFont02(){
					this.number02--;
				}
			}

		})
	</script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>