<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue Tutorial - Directive(Conditional Rendering):
	V-If/ElseIF/Else</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://app.laravel/css/custom.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

	<div class="container" id="main">
		<br />
		<h1>
			<a :href="url">Directive(Conditional Rendering): V-If/Else-If/Else</a>
		</h1>
		<br />
		<div class="row">
			<h1 v-if="status">
				<span class="m-3">{{name}} is Active</span>
			</h1>
			<h1 v-else-if="name === 'Reuel Sicat'">
				<span class="m-3">[False + Reuel Sicat]: Hey {{name}}, Looking Good for Single Condition</span>
			</h1>
			<h1 v-else>
				<span class="m-3">Nothing to Display</span>
			</h1>

		</div>
	</div>


	<!-- <script src="http://app.laravel/js/custom.js"></script> -->
	<script>
		let vm = new Vue({

			el : '#main',
			data : {
				url : "https://vuejs.org/v2/guide/conditional.html",
				name : "Reuel Sicat",
				status : true
			}
		})
	</script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>