<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue Tutorial - Text Interpolation</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://app.laravel/css/custom.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

	<div class="container" id="main">
		<br /> 
		<h1>Vue Tutorial - Text Interpolation</h1>
		<div class="row">
			<div class="col-2">
				<label for="">String:</label> 
				<br /> 
				<label for="">Number:</label> 
				<br />
				<label for="">Bolean:</label>
			</div>
			<div class="col">
				<label >{{ message }}</label> 
				<br />
				<label >{{ number }}</label> 
				<br />
				<label >{{ isActive }}</label>
			</div>
		</div>
	</div>


	<!-- <script src="http://app.laravel/js/custom.js"></script> -->
	<script>
		let vm = new Vue({

			el : '#main',
			data : {

				message : 'Hello',
				number : 10,
				isActive : false
			}

		})
	</script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>