<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue Master Tutorial - Attribute Binding</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://app.laravel/css/vue_m/cart.css">

</head>
<body>

	<div class="container" id="main">

	<div class="product">
		<div class="product-image">
		<img :src="image" alt="" />
		</div>
		<div class="product-info">
		<h1>{{product}}</h1>
		</div>
	</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>			
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://app.laravel/js/vue_m/cart.js"></script>
</body>
</html>