<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue Master Tutorial - Vue Instance</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://app.laravel/css/custom.css">

</head>
<body>

	<div class="container" id="main">
		<br /> 
		<h1><a :href="url">Vue Master Tutorial - Vue Instance</a>
		
		</h1>
		<div class="row">
			<div class="col-2">
				<label for="">String:</label> 
				<br /> 
				<label for="">Number:</label> 
				<br />
				<label for="">Bolean:</label>
			</div>
			<div class="col">
				<label >{{ message }}</label> 
				<br />
				<label >{{ number }}</label> 
				<br />
				<label >{{ isActive }}</label>
			</div>
		</div>
	</div>
	


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>			
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://app.laravel/js/vue_m/instance01.js"></script>
</body>
</html>